Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*<br>
    - List popular languages for Data Science<br>
    - List data science tools<br>
    - Use arithmetic expressions<br>

Some of the popular languages tha Data Scientists use are:

1. Pandas
2. NumPy
3. SciPy
4. Tensorflow

| Data Science Tools |
|-|
|Apache Spark|
|IBM SPSS|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Orie Wyatt